<div class="panel" data-stellar-background-ratio="0.5">
  <h1 class="center" id="search_bar">Search for a recipe.</h1>
  <%= form_tag search_path, :class => "center" do %>
    <%= label_tag(:search, "Search for:") %>
    <%= text_field_tag(:search) %><br>
    <%= submit_tag("Search")%>
  <% end %>
</div>
