<div class="bgSizeCover container-fluid" data-stellar-background-ratio="0.5">
  <p class="center" id="search_bar">Search for a recipe.</p>
  <%= form_tag search_path, :class => "center" do %>
    <%= label_tag(:food, "Search for:") %>
    <%= text_field_tag(:food) %><br>
    <%= submit_tag("Search")%>
  <% end %>
</div>
<div class="panel2" data-stellar-background-ratio="0.5">
  <div class="container-fluid">
    <p class="center">Panel2</p>
  </div>
</div>
