<h2>Your Results</h2>
<div class="container-fluid">
  <p id="search_bar">Search for a recipe.</p>
  <% @recipes.each do |recipe| %>
    <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
      <div class="box col3">
        <%= recipe.title %>
        <br>
        <a href="<%= site_path(recipe)%>"><img src="http://www.epicurious.com<%= recipe.image %>"></a>
        <br>
        <%= truncate(recipe.source, length: 100, omission: '... (continued)')%>
        <br>
      </div>
    </div>
  <% end %>
