/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require_tree .
 */

.navbar {
  margin-bottom: 0px;
}

#masonry-container {
  background: #FFF;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: inline-block;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;

}
.box  h1 {
    font-size: 36px;
  }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 220px; }
.col4 { width: 380px; }
.col5 { width: 480px; }
.col6 { width: 580px; }
.col7 { width: 680px; }
.col8 { width: 780px; }
.col9 { width: 880px; }
.col10 { width: 980px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { width: 220px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }
.col6 img { max-width: 580px; } 
.col7 img { max-width: 680px; } 
.col8 img { max-width: 780px; } 
.col9 img { max-width: 880px; } 
.col10 img { max-width: 980px; } 

html {
  overflow-y: scroll; }

nav ul {
  display: block; }
nav li {
  display: inline-block;
  font: bold 11px Arial;
  text-decoration: none;
  margin-right: 10px;
  padding: 2px 6px 2px 6px; }
nav a {
  width: 80px;
  font-size: 16px;
  display: inline-block;
  text-align: right;
  float: right;
  color: white; }
  nav a:hover {
    color: #b32b2a;
    text-decoration: none; }

.navbar {
  background-color: #603913;
  margin: 0px;
  padding: 0px; }

.navbar-default {
  background-color: #603913;
  margin: 0px; }

#logo {
  text-align: left;
  float: left;
  font: bold 32px Arial;
  font-color: #f6a54b; }

.center {
  text-align: center; }

.center form {
  display: block; }

.form_button {
  border: 0;
  width: 200px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
  margin-top: 15px;
  padding: 9px 18px 7px;
  position: relative;
  text-align: center;
  text-decoration: none;
  background-color: #f6a54b;
  color: #b32b2a;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -ms-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out; }

input[type="file"] {
  display: inline-block; }

input[id="food"] {
  height: 50px;
  width: 400px;
  font-size: 24px;
border-radius: 4px}

input[type="submit"] {
  border: 0;
  width: 150px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
  margin-top: 15px;
  padding: 9px 18px 7px;
  position: relative;
  text-align: center;
  text-decoration: none;
  background-color: #b32b2a;
  color: white;
  height: 40px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -ms-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out; }

label {
  margin-top: 10px; }

.form_shell {
  width: 410px;
  min-height: 465px;
  margin: 50px auto 10px;
  padding: 30px 15px 15px;
  background-color: #886547; }


.bgSizeCover {
  height: 600px;
  background-image: url("/assets/sushi.jpg");
  background-size: cover;
  min-width: 400px;
  background-repeat: no-repeat;
  }


.panel2 {
  height: 600px;
background-image: url("/assets/kneading-dough.jpg");
  background-size: cover;
  min-width: 400px;
  background-repeat: no-repeat;

}

 h1 {
    font-size: 36px;
  }


#search_bar {
  color: white;
  margin-top: 100px; 
  font-size: 36px;
  text-shadow: 1px 1px #000000;
  text-align: none; }



.panel2 {
  height: 600px;
background-image: url("/assets/kneading-dough.jpg");
  background-size: cover;
  min-width: 400px;
  background-repeat: no-repeat;

}

 h1 {
    font-size: 36px;
  }
