// Place all the styles related to the MyRecipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  background-color: currentcolor;
  margin: 0px;
  min-height: 75px;
  padding: 0px; }

#container {
  background: #FFF;
  margin-bottom: 20px;
  clear: both;

}

.stitched {
   padding: 20px;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed tomato;
   box-shadow: 0 0 0 4px #333, 2px 5px 6px 6px rgba(10, 10, 0, 0.5);
   font-weight: normal;
}

video {
	display: none;
}

#content {
	position: fixed;
	left: 300;
	right: 0;
	width: 450px;
	top: 355px;
	bottom: 0;
	overflow: hidden;
	z-index: 0;
}

#video-instruction {
	position: fixed;
	top:80px;
}

.loading {
	display: none;
	position: absolute;
	font-size: 20px;
	text-align: center;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -40px;
}

.browsers,
.introduction {
	display: none;
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 20px;
	top: 50%;
	margin-top: -27px;
}

.browsers p,
.introduction p {
	margin: 0 0 0.1em 0;
	padding: 0;
}

.browsers a {
	color: #333;
}

#header {
	position: absolute;
	height: 55px;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 2;
	color: #aaa;
	font-size: 20px;
}

.browsersWithVideo,
.instructions,
.allow {
	display: none;
	line-height: 55px;
	margin-left: 20px;
}

.browsersWithVideo {
	font-size: 15px;
}

.browsersWithVideo a {
	color: #AAA;
}

.backFromVideo {
	display: none;
	position: absolute;
	width: 100%;
	bottom: 64px;
	text-align: center;
	font-size: 14px;
}

.backFromVideo a {
	color: #333;
}

#footer {
	position: absolute;
	height: 55px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 1;
}

#footer a {
	color: #aaa;
	text-decoration: underline;
}

#footer a:hover {
	color: #ccd56d;
	text-decoration: underline;
}

.magic {
	float: left;
	padding-left: 20px;
	font-size: 20px;
	color: #AAA;
	line-height: 55px;
}

#video-demo {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -320px;
	margin-top: -240px;
}

#canvas-source {
	width: 100%;
}

#canvas-source, #canvas-highlights {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}

#canvas-blended {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
}

#hotSpots {
	position: relative;
	display: none;
	height: 100%;
}

#hotSpots > * {
	position: absolute;
	-moz-transition: all 80ms linear;
	-webkit-transition: all 80ms linear;
	transition: all 80ms linear;
}

/* Feel free to change this or turn it off altogether*/
.active {
	background: rgba(255, 255, 255, 0.7);
	-moz-transition: all 150ms linear;
	-webkit-transition: all 150ms linear;
	transition: all 150ms linear;
}

/* Sample hotspots */

#play{
	width: 10%;
	height: 10%;
	top: 0%;
	left: 0%;
}

#playButton {
	width: 50px;
	height: 50px;
	top: 0%;
	left: 0%;
}

#pause {
	width: 10%;
	height: 10%;
	top: 0%;
	left: 100%;
	margin-left: -10%;
}

#pauseButton {
	width: 50px;
	height: 50px;
	top: 0%;
	left: 100%;
	margin-left: -10%;
}

#up {
	width: 10%;
	height: 10%;
	top: 0%;
	left: 30%;
}

#upButton {
	width: 50px;
	height: 50px;
	top: 0%;
	left: 30%;
}


#down {
	width: 10%;
	height: 10%;
	top: 0%;
	left: 70%;
	margin-left: -10%;
}

#downButton {
	width: 50px;
	height: 50px;
	top: 0%;
	left: 70%;
}

@media (max-width: 450px) {



.stitched {
   padding: 0px;
}

.navbar {
  min-height: 0px;
  padding: 0px; }

nav li {
  display: inline-block;
  font: bold 11px Arial;
  text-decoration: none;
  margin-right: 10px;
  padding: 2px 6px 2px 6px;
  border-right: none;
background-image: url("/assets/chalkborder.png");
background-size: 15%;
background-repeat: no-repeat;
background-position: 10px 20px;
height: 35px;
    }

.nav>li>a {
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.pull-right {
  float: none;
  text-align: center;
  width: 100%;
  position: relative;
}



}